/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'), url(https://fonts.gstatic.com/s/barlowcondensed/v4/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT3w.ttf) format('truetype');
}
.orangetext {
  color: darkorange;
  font-size: 2rem;
}
.orangetextsmall {
  color: darkorange;
  font-size: 1.5rem;
}
.blacktext {
  color: black;
  font-size: 2rem;
}
.blacktextlarge {
  color: black;
  font-size: 4rem;
}
.blacktextmedium {
  color: black;
  font-size: 3rem;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'Barlow Condensed', sans-serif;
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}
body {
  background-color: black;
}
.page {
  max-width: 1100px;
  margin: 0 auto;
  background: whitesmoke;
  font-family: 'Barlow Condensed', sans-serif;
}
@media (max-width: 800px) {
  .page {
    width: 100%;
  }
}
.header-title {
  display: flex;
}
.header-title h1 {
  width: 50%;
  color: black;
  font-size: 3rem;
}
.header-title h2 {
  width: 100%;
  background: darkorange;
  color: black;
  font-size: 3rem;
}
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}
.middlenav {
  display: flex;
}
.middlenav h1 {
  color: black;
  font-size: 3rem;
}
.bottomnav {
  background-color: orangered;
}
.image {
  border: 3px solid orangered;
}
header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
header h1 {
  color: black;
  font-size: 4rem;
  background-color: orangered;
}
@media (max-width: 800px) {
  header h1 {
    color: black;
    font-size: 2rem;
    background: darkorange;
  }
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #111111;
}
header nav div {
  display: flex;
}
header nav div a {
  text-decoration: none;
  color: darkorange;
  font-size: 2rem;
}
header nav div {
  display: flex;
  flex-direction: column;
}
header nav div h1 {
  text-align: center;
}
header nav div div {
  display: flex;
  flex-direction: row;
}
header nav div div a {
  text-decoration: none;
  color: darkorange;
  font-size: 2rem;
}
section {
  display: flex;
  flex-wrap: wrap;
}
section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: darkgrey;
}
.wrap.container {
  color: red;
  display: flex;
  flex-direction: column;
}
.bottom-content {
  flex-direction: column;
  width: 30%;
  flex-wrap: wrap;
}
.bottom-content h2 {
  text-align: center;
  color: darkorange;
  font-size: 1.5rem;
}
.bottom-content div {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-height: 500px;
}
.top-content {
  flex-direction: row-reverse;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}
.skills {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 50vh;
}
.contact.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact.container h2 {
  color: darkorange;
  font-size: 1.5rem;
  text-align: center;
}
.contact.container div {
  align-self: center;
  margin: 1%;
}
.contact.container address {
  align-self: center;
  line-height: 1.5;
}
.Copyright p {
  color: darkorange;
  font-size: 1.5rem;
  text-align: center;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkorange;
}
.hero h2 {
  color: black;
  font-size: 2rem;
  text-align: center;
}
.hero p {
  width: 50%;
  text-align: center;
  color: whitesmoke;
}
